.main {
    padding-top: 20px !important;
}
.collapse:not(.show){
    display: none;
}



@media only screen and (max-width: 1010px) and (min-width: 1198px) {




    .slayt {
        height: 575px;
    }

        .slayt img {
            height: 575px;
        }
}

@media only screen and (max-width: 1010px) and (min-width: 600px) {




    .slayt {
        height: 475px;
    }

        .slayt img {
            height: 475px;
        }
}










.slayt .slaytaciklama {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.slayt .slaytaciklama h3 {font-size: 3vw !important;bottom: -10px;position: relative;}
.slayt .slaytaciklama p {
    font-size: 2vw !important;
}

.footer {
    display: none;
}

.slick-next:before, .slick-prev:before {
    color: black;
}

#galeri_img:hover,
#galeri_img:focus {
    transform: scale(1.1);
}

#galeri_img {
    width: 100%;
    height: auto;
    border: .5rem solid #fefefe;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.manset_image {
    width: 100%;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 9px solid #fff;
    background-color: #ebebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.yanmenu {
    width: 100%;
    height: 55px;
    bottom: 0;
    padding: 0;
    display: block;
    padding-top: 5px;
}

.yanmenu ul {
    display: block;
    width: 100%;
}

.yanmenu ul li {
    padding: 0;
    width: 16%;
    display: inline-block;
    float: left;
    height: 45px;
}

.yanmenu ul li a {
    font-size: 7px;
    padding: 5px;
    display: block;
}

.yanmenu ul li i {
    font-size: 16px;
    padding: 0px;
    display: block;
}

.Sayfa {
    margin: 0 !important;
    margin-bottom: 88px !important;
    margin-top: 45px !important;
}

.header {
    left: 0;
    right: 0;
    margin-top: 0;
    position: fixed;
    margin: 0 !important;
}
.Kutular .Kutu{
    height: 150px;
}
.Kutular .Kutu.KutuBg p {
    font-size: 16px;
}

.Kutular .Kutu.KutuBg {
    /*height: inherit;*/
    height: 140px;
}
.Kutular .Kutu i{
    padding-top: 18px;
}

.Bilgilendirme {
    margin-bottom: 20px;
}

.hidden-xs {
    display: none;
}

.navbar {
    background: transparent !important;
}

.navbar-toggler {
    float: left;
    position: fixed;
    right: 20px;
    top: 2px;
}

.navbar-nav {
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    top: 45px;
    text-align: center;
    z-index: 7;
}

.header a.logo {
    z-index: 8;
    width: 45px;
    top: 0;
    left: -10px;
    height: 45px;
}

.muduBot.aktif {
    width: 290px !important;
}

.icsayfa {
    overflow: hidden;
    /* margin-top: 40px; */
}
#carouselExampleIndicators{
    width: 100%;
    margin-top: 70px;
}

.slayt #carouselExampleIndicators {
    margin-top: 0 !important;
}
.Popup .PopupIcerik{
    right: 0;
    left: 0;
    overflow: inherit;
}
.Popup a.PopupKapat{
    top: -40px;
}
.yonetim .birim{
    height: initial;
}
.yonetim .birim a{
    width: 100%;
    height: initial;
    text-align: center;
}
.yonetim .birim a h5{
    display: block;
    margin: 0;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.yonetim .birim a p{
    margin: 0;
    display: block;
    margin: 10px;
}
.yonetim .birim a img{
    display: inline-block;
    float: initial;
    position: relative;
}
.yonetim .kadrobirim h5{
    font-size:14px;
}

.icsayfa .sayfaust{
    font-size: 24px !important;
}
.carousel-indicators{
    margin-bottom: 5px;
}

.slayt .slaytaciklama a {
    padding: 4px;
    font-size: 10px;
    bottom: 0;
}
.d-xs{
display:block !important
}
